<!-- start custom head snippets -->
<link href="//db.onlinewebfonts.com/c/e72964420d64c9bc40e7e9251a807cdb?family=Charter+ITC+Std" rel="stylesheet" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/477daa46c4eca0fd972c6e5e6f39d0e9?family=ITC+Charter" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Cardo|Quattrocento&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/site.webmanifest">

<!-- end custom head snippets -->
