<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="{{ site.baseurl }}/assets/js/lazysizes.min.js" async></script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/site.webmanifest">

<!-- end custom head snippets -->
