{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for sb in page.sidebar %}
      {% if sb.image %}
        <img src=
        {% if sb.image contains "://" %}
          "{{ sb.image }}"
        {% else %}
          "{{ sb.image | relative_url }}"
        {% endif %}
        alt="{% if sb.image_alt %}{{ sb.image_alt }}{% endif %}">
      {% endif %}
      {% if sb.title %}<h3>{{ sb.title }}</h3>{% endif %}
      {% if sb.text %}{{ sb.text | markdownify }}{% endif %}
      {% if sb.nav %}{% include nav_list nav=sb.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}

    {% include newsletter.html variant="sidebar" id="sidebar" title="Subscribe" hint="New posts & visualizations in your inbox." %}
  </div>
{% endif %}
